@charset "UTF-8";
/* You can add global styles to this file, and also import other style files */
/*
Göteborgs Stads Typsnit Gotham
*/
@font-face { font-family: "Book"; src: url("fonts/Gotham-Book.otf") format("opentype"); }
@font-face { font-family: "Light"; src: url("fonts/Gotham-Light.otf") format("opentype"); }
@font-face { font-family: "Medium"; src: url("fonts/Gotham-Medium.otf") format("opentype"); }
@font-face { font-family: "Bold"; src: url("fonts/Gotham-Bold.otf") format("opentype"); }
.clearfix { clear: both; }

.spinner { width: 165px; height: 165px; background: url("/src/icons/spinner_blue.png") left center; animation: play 1.06s steps(36) infinite; position: absolute; z-index: 999; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.spinner.inactive { display: none; }
@keyframes play { 100% { background-position: -5940px; } }
/*
Wide spread body changes. 
Incl: :focus Forms Buttons a

*/
body { color: #1F1E1D; height: 100vh; width: 100vw; background: #1b78cc; line-height: 1; }
body :focus { outline: none !important; }
body a { color: white !important; }
body form, body div { font-family: "Medium"; color: black; }
body form p, body div p { margin: 0 10px; }
body form li, body div li { list-style: none; }
body form input, body form textarea, body form button, body form select, body div input, body div textarea, body div button, body div select { border: 0; background: rgba(136, 205, 208, 0.5); }
body form textarea, body div textarea { padding: 10px 10px; }
body form input, body div input { min-height: 46px; padding-left: 10px; }
body form select, body div select { background-image: url(/src/imgs/elements/arrow-down.png); background-position: 90% center; background-repeat: no-repeat; border-radius: 0; padding: 15px 50px 15px 10px; text-align: left; }
body .btn-default { width: auto; height: auto; border: 0; border-radius: 0; margin: 0; padding: 0; color: white; font-size: 16px; font-family: "Light"; text-align: center; white-space: normal; }
body .btn-default.regret { background-color: #b93342; }
body .btn-default.submit { background-color: #51aa50; }
body .btn-default.logout { font-size: 14px; width: auto; height: auto; background: #1b78cc; position: absolute; top: 10px; left: 10px; }

.container { height: inherit; margin: 0; padding: 0; }

/*
*
*
* Admin Overrides
*
*/
.login { width: 100%; transform: translateY(25%); }
.login .error { display: none; width: 100%; text-align: center; font-size: 20px; color: white; padding: 0 0 10px 0; }
.login .error.active { display: block; }
.login .store-front { width: 100%; text-align: center; text-transform: uppercase; color: white; font-size: 78px; font-family: 'Book'; margin-bottom: 90px; }
.login input, .login button { display: block; border-radius: 0; width: 530px; height: 80px; margin-bottom: 40px; line-height: normal; text-align: center; font-size: 30px; font-family: 'Book'; }
.login input.error, .login button.error { border: 4px solid #b93342; }
.login button { background: #f18700; color: white; }

/*
*
*
* Store Overrides
*
*/
.store { background: white; width: 100%; }

.popup { position: absolute; z-index: 999; background: white; width: auto; height: auto; left: 50%; top: 50%; transform: translate(-50%, -50%); box-shadow: 0px 0px 32px 3px rgba(0, 0, 0, 0.38); }
.popup.inactive { display: none; }
.popup.receipt { position: absolute; z-index: 999; background: white; width: 574px; left: 50%; top: 50%; }
.popup.receipt:after { content: ""; width: 100%; height: 18px; top: 99%; left: 0; position: absolute; display: inline-block; background: url("/src/imgs/jagged-edge.png"); }
.popup.receipt h1 { margin: 40px 0; font-size: 40px; font-family: "Light"; text-align: center; }
.popup.receipt #button { width: 100%; text-align: center; margin: 30px 0; }
.popup.receipt #button .submit { width: 150px; height: 50px; font-size: 25px; }
.popup.receipt .printout { vertical-align: bottom; }
.popup.receipt .printout h2 { font-size: 34px; font-family: "Bold"; text-align: center; margin-bottom: 15px; border-bottom: 2px solid black; }
.popup.receipt .printout ul { list-style: none; height: auto; max-height: 290px; overflow: scroll; margin: 0 30px 20px; padding: 0; }
.popup.receipt .printout ul li { width: 100%; height: auto; min-height: 70px; border-bottom: 1px solid gray; }
.popup.receipt .printout ul li div { height: 100%; min-height: 70px; padding: 10px; float: left; border-right: 1px solid gray; }
.popup.receipt .printout ul li div:last-child { border: none; }
.popup.receipt .printout ul li div p { margin: 0; }
.popup.receipt .printout ul li .item { width: 212px; font-family: "Medium"; text-transform: capitalize; }
.popup.receipt .printout ul li .item p { font-size: 25px; }
.popup.receipt .printout ul li .item p:nth-child(2) { font-size: 15px; margin-top: 10px; }
.popup.receipt .printout ul li .amount { width: 130px; }
.popup.receipt .printout ul li .amount p { font-size: 18px; }
.popup.receipt .printout ul li .amount p:nth-child(2) { font-size: 14px; font-style: italic; }
.popup.receipt .printout ul li .price { width: 30%; text-align: right; position: relative; }
.popup.receipt .printout ul li .price h4 { font-size: 20px; position: absolute; top: 20px; right: 0; }
.popup.receipt .total { text-align: right; float: right; width: auto; margin-right: 30px; }
.popup.receipt .total h1, .popup.receipt .total h2 { font-family: "Bold"; margin: 0; padding: 0; width: auto; float: left; }
.popup.receipt .total h1 { font-size: 30px; margin-left: 10px; }
.popup.receipt .total h2 { font-size: 20px; line-height: 38px; text-transform: uppercase; }
.popup.edit-item { width: 400px; height: auto; padding: 20px; }
.popup.edit-item .edit { width: 100%; }
.popup.edit-item .edit li { list-style: none; }
.popup.edit-item .edit div { margin: 10px 0; }
.popup.edit-item .edit #top h1 { font-family: "Light"; font-size: 30px; margin: 0 !important; }
.popup.edit-item .edit #top .btn { float: left; padding: 0; margin: 15px 0; width: 126px; height: 25px; font-size: 16px; }
.popup.edit-item .edit #top .thumbnail { width: 90px; height: 90px; float: right; margin-top: -45px; }
.popup.edit-item .edit #name { margin-top: 10px; }
.popup.edit-item .edit #name li.name { width: 100%; }
.popup.edit-item .edit #name li.name input { width: 100%; }
.popup.edit-item .edit #price-cat li { float: left; width: 165px; }
.popup.edit-item .edit #price-cat li:nth-child(2) { float: right; }
.popup.edit-item .edit #price-cat li select, .popup.edit-item .edit #price-cat li input { width: 100%; }
.popup.edit-item .edit #desc-size-amount { width: 100%; height: 230px; }
.popup.edit-item .edit #desc-size-amount .desc { float: left; width: 165px; height: 100%; }
.popup.edit-item .edit #desc-size-amount .desc textarea { height: 100%; max-height: 100%; width: 100%; max-width: 100%; }
.popup.edit-item .edit #desc-size-amount .size, .popup.edit-item .edit #desc-size-amount .amount { float: right; width: 160px; }
.popup.edit-item .edit #desc-size-amount .size input, .popup.edit-item .edit #desc-size-amount .amount input { width: 100%; }
.popup.edit-item .edit #desc-size-amount .size { margin: 0 0 20px 0 !important; }
.popup.edit-item .edit #desc-size-amount .buttons { width: auto; float: right; margin: 60px 0 0 0; }
.popup.edit-item .edit #desc-size-amount .buttons .btn { width: auto; height: 41px; }
.popup.edit-item .edit #desc-size-amount .buttons .btn .submit { width: 82px; margin-left: 20px; }
.popup.edit-item .edit #desc-size-amount .buttons .btn .regret { width: 73px; }
.popup.edit-item .edit .btn-default { float: left; height: 20px; padding: 20px; line-height: 0; }
.popup.edit-item .edit .btn-default.submit { margin-right: 14px; }
.popup.alert { width: 535px; text-align: center; padding: 0; margin: 0; border-radius: 0; }
.popup.alert #top { font-family: "Bold"; font-size: 27px; margin-bottom: 30px; padding: 20px 0; background-color: #cecfd0; }
.popup.alert #bottom { font-family: 'Book'; font-size: 17px; margin-bottom: 30px; }
.popup.alert #bottom p { margin-bottom: 35px; }
.popup.alert #bottom .btn-default { height: 50px; }
.popup.alert #bottom .btn-default.submit { width: 150px; margin-right: 30px; }
.popup.alert #bottom .btn-default.regret { width: 150px; }
.popup.overlay { z-index: 100; width: 100%; height: 100%; background-color: rgba(136, 205, 208, 0.5); }

.navbar { background: #1b78cc; font-family: 'Light'; border-radius: 0; border: 0; margin: 0 0 0 0; }
.navbar .tm-loggo { display: none; }
.navbar .navbar-collapse { width: 100%; text-align: center; padding: 0; border: 0; }
.navbar .navbar-collapse nav { width: 100%; float: left; }
.navbar .navbar-collapse nav .nav-cat { width: 100%; display: flex; justify-content: center; padding: 10px 0; }
.navbar .navbar-collapse nav .nav-cat a { font-size: 16px; padding: 0; margin: 0; }
.navbar .navbar-collapse nav .nav-cat a p { margin: 10px 0 0 0; text-transform: capitalize; }
.navbar .navbar-collapse nav .nav-cat li { margin-right: 40px; width: auto; height: auto; }
.navbar .navbar-collapse nav .nav-cat li img { width: 32px; height: 32px; }
.navbar .navbar-collapse nav .nav-cat li .cat-name { width: auto; }
.navbar .navbar-collapse nav .nav-cat li .cat-name.trash { color: #b93342; }

.row { width: 70%; height: 680px; float: left; overflow: hidden; margin: 0; }
.row #products { width: 100%; padding: 0; margin: 0; height: auto; background: white; }
.row #products .search-col .search { width: 100%; margin-top: 20px; padding: 0 0 10px 0; font-family: "Book"; font-size: 24px; display: flex; justify-content: center; }
.row #products .search-col .search input, .row #products .search-col .search button { height: 50px; }
.row #products .search-col .search input { width: 70%; background-image: url(/src/imgs/elements/search-icon.png); background-color: #e6e6e6; background-position: 97% center; background-repeat: no-repeat; text-transform: uppercase; }
.row #products .search-col .search button { background: #f18700; width: 77px; }
.row #products .grid-system { height: 580px; overflow: scroll; padding-bottom: 150px; display: flex; justify-content: center; }
.row #products .grid-system ul { width: 95%; padding: 0; list-style: none; }
.row #products .grid-system ul li .panel { background-color: #cecfd0; width: 32.5%; height: 220px; margin: 0 1% 2% 0; padding: 0; }
.row #products .grid-system ul li .panel .panel-body { padding: 10px; height: 100%; }
.row #products .grid-system ul li .panel .panel-body ul { margin: 0; padding: 0; width: 100%; }
.row #products .grid-system ul li .panel .panel-body ul li { float: none; text-align: right; }
.row #products .grid-system ul li .panel .panel-body .product-description { width: 100%; }
.row #products .grid-system ul li .panel .panel-body .product-description li { text-align: left; }
.row #products .grid-system ul li .panel .panel-body .product-description .product-name { text-decoration: underline; font-size: 20px; font-family: "Bold"; font-style: italic; text-transform: capitalize; }
.row #products .grid-system ul li .panel .panel-body .product-description .product-desc { margin-top: 5px; font-size: 14px; font-family: "Light"; font-style: normal; }
.row #products .grid-system ul li .panel .panel-body .product-images { width: 50%; height: auto; }
.row #products .grid-system ul li .panel .panel-body .product-images .thumbnail { height: 82px; width: 82px; }
.row #products .grid-system ul li .panel .panel-body .product-information { width: 50%; float: right; }
.row #products .grid-system ul li .panel .panel-body .product-information li { font-family: "Medium"; }
.row #products .grid-system ul li .panel .panel-body .product-information li.product-price { text-align: right; font-size: 30px; margin-top: 5px; }
.row #products .grid-system ul li .panel .panel-body .product-information li.product-price .pennies { font-size: 20px; vertical-align: top; opacity: .8; }
.row #products .grid-system ul li .panel .panel-body .product-information li.product-size { font-size: 15px; }
.row #products .grid-system ul li .panel .out-of-stock { display: none; border-radius: 3px; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(185, 52, 67, 0.8); color: white; z-index: 50; }
.row #products .grid-system ul li .panel .out-of-stock.true { display: inline; }
.row #products .grid-system ul li .panel .out-of-stock.true h1 { text-align: center; line-height: 5em; }
.row #products .grid-system ul li:nth-child(3n +3) .panel { margin-right: 0; }

.admin { z-index: 50; }
.admin.inactive { display: none; }
.admin.active.add-category a { background: none; }
.admin.active.add-category a:hover { background: none; color: white; }
.admin.active.add-category h1 { margin: 0; padding: 0; font-family: "Bold"; float: left; }
.admin.active.add-category p { margin: 0 -40px !important; }
.admin.active.add-product { text-align: center; font-family: 'Bold'; }
.admin.active.add-product .panel { background-color: #51aa50 !important; position: relative; }
.admin.active.add-product .panel .text { position: absolute; width: 200px; height: 200px; top: 50%; left: 50%; transform: translate(-100px, -80px); color: white; }
.admin.active.add-product .panel .text h1 { font-size: 100px; margin: 0; padding: 0; }
.admin.active.add-product .panel .text p { font-size: 20px; }
.admin.active.edit { width: auto; text-align: center; top: 75%; left: 65%; position: absolute; }
.admin.active.edit p { margin-top: 0; font-family: "Bold"; font-size: 13px; color: black; }
.admin.active.swish-overlay { width: 300px; height: 145px; position: absolute; top: -20px; left: 0; z-index: 50; background: #1b78cc; color: white; }
.admin.active.swish-overlay h1 { font-family: "Light"; font-size: 24px; text-align: center; margin-right: 15px; }

#cart { float: right; width: 30%; height: 680px; background: #1b78cc; margin: 0; padding: 0; }
#cart .gc-product-grid { margin: 0px auto 10px auto; width: 300px; height: 405px; overflow: scroll; padding: 0; list-style: none; background-color: white; }
#cart .gc-product-grid ul { margin: 0; padding: 0; }
#cart .gc-product-grid li { list-style: none; padding: 0; margin: 0; }
#cart .gc-product-grid li.cart-item { border-bottom: 1px solid #9a9c9d; }
#cart .gc-product-grid li.cart-item:nth-child(even) { background: #cecfd0; }
#cart .gc-product-grid li .panel-body { padding: 10px; }
#cart .gc-product-grid li .panel-body .items { width: 150px; }
#cart .gc-product-grid li .panel-body .items .cart-product-name { font-family: "Bold"; font-size: 1.3em; text-transform: uppercase; width: 100%; word-wrap: normal; }
#cart .gc-product-grid li .panel-body .items .cart-product-size { font-family: "Light"; font-size: 13px; }
#cart .gc-product-grid li .panel-body .items .item-price { color: #f18700; font-family: "Light"; font-size: 12px; float: left; }
#cart .gc-product-grid li .panel-body .items .controls { width: auto; margin-top: 15px; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel { width: auto; height: 25px; line-height: 35px; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel div, #cart .gc-product-grid li .panel-body .items .controls .control-panel span { float: left; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel .amount-in-cart { float: left; margin: 0 5px 0 5px; font-size: 16px; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel .ctrl-button { width: 35px; height: 35px; text-align: center; font-family: "Bold"; font-size: 20px; line-height: 1.8em; color: white; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel .ctrl-button.subtract { margin: 0; background: #b93342; margin-right: 5px; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel .ctrl-button.add { margin: 0; background: #51aa50; }
#cart .gc-product-grid li .panel-body .items .controls .control-panel .garbage { width: 30px; height: auto; float: right; margin-top: 0px; }
#cart .gc-product-grid li .panel-body .prices { font-family: "Bold"; font-size: 28px; }
#cart .gc-product-grid li .panel-body .prices .pennies { font-size: 16px; opacity: .8; vertical-align: top; }
#cart .gc-product-grid li .panel-body .prices::after { content: ":-"; margin-left: -5px; font-size: 15px; }
#cart .cart-total { width: 100%; padding: 0 30px 0 35px; color: white; }
#cart .cart-total p { margin: 0; }
#cart .cart-total .items .amount { float: right; }
#cart .cart-total .items.in-cart { font-size: 20px; font-family: "Light"; }
#cart .cart-total .items.in-cart .amount::after { content: "st"; }
#cart .cart-total .items.total { font-size: 30px; font-family: "Bold"; }
#cart .cart-total .items.total .amount::after { content: ":-"; }
#cart .swish { margin: 25px 0 15px 0; width: 100%; font-family: 'Light'; display: grid; justify-content: center; }
#cart .swish #swish-number { width: auto; float: right; margin: 0 5px 10px 0; text-align: center; font-size: 16px; letter-spacing: -.5px; color: white; }
#cart .swish .buttons { width: 100%; text-align: center; margin: 15px 0; }
#cart .swish .buttons .btn-default { height: 50px; font-size: 17px; }
#cart .swish .buttons .btn-default.submit { width: 150px; margin-right: 10px; }
#cart .swish .buttons .btn-default.regret { width: 90px; float: right; }
#cart .gbg-logo { position: relative; z-index: 100; width: 100px; margin-left: 50%; transform: translateX(-50px); }

/*# sourceMappingURL=styles.css.map */
