/* You can add global styles to this file, and also import other style files */


body{
    height:inherit;

}

.container{
    height:inherit;
}

.gc-login{

}

.gc-product-grid{
    list-style: none;
    padding: 0;
    margin: 0;
}

.gc-product-grid li{
    padding: 0;
    margin: 0;
}

.gc-product-grid h3{
    padding:0;
    margin:0;
}