<div class="container store">
    <nav class="navbar navbar-default tm-navbar">
        
        <button class="btn btn-success navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            
        <div class="tm-loggo navbar-header">
            <h1>{{title}}</h1>
        </div>
         <img id="soda" src="/src/icons/smaller/soda.png" />
         <img id="snacks" src="/src/icons/smaller/snack.png" />
         <img id="food" src="/src/icons/smaller/burger.png" />
         <img id="other" src="/src/icons/smaller/misc.png" />
         <img id="all" src="/src/icons/smaller/allt.png" (load)="getImages()"/>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav tm-navbar-nav nav-cat">
                <li *ngFor="let category of categories" class="nav" (load)="loadCategoryImage(category)">
                    <img src="{{category.imgElm}}" />
                    <a (click)="navigate(category.id)" href="" >{{category.name}}</a>
                </li>
                <li class="admin inactive add-category">
                    <a href="/">
                        <h1>+</h1>
                        <p>Lägg till kategori</p>
                    </a>
                </li>
                <!--
                <li class="nav">
                    <img src="/src/icons/smaller/soda.png" />
                    <a  href="">Läsk</a>
                </li>
                <li class="nav">
                    <img src="/src/icons/smaller/snack.png" />
                    <a  href="">Snacks</a>
                </li>
                <li class="nav">
                    <img src="/src/icons/smaller/burger.png" />
                    <a  href="">Mat</a>
                </li>
                <li class="nav">
                    <img src="/src/icons/smaller/misc.png" />
                    <a  href="">Övrigt</a>
                </li>
                <li class="nav">
                    <img src="/src/icons/smaller/allt.png" />
                    <a  href="">Allt</a>
                </li>
                -->
            </ul>
            
            <p id="text-for-kassa">KASSA</p>
        </div>
        <!--<div class="new-msg-box"><a [routerLink]="['/msg']" href="">new msg</a></div>
            -->
    </nav>
    <div class="row">

        <div id="products" class="col-md-8 col-sm-8 products-list">
            <div class="search-col">
                <form name="searchForm" class="form-inline search">
                    <input type="search" class="form-control" placeholder="Sök din vara">
                    <button type="submit" class="btn btn-default">Sök</button>
                </form>
            </div>

            <div class="grid-system">
                <ul class="gc-product-grid">
                    <li *ngFor="let product of products">
                        <product-item [product]=product (onAddToCart)="addToCart($event)"></product-item>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>
        </div>
        <div id="cart" class="col-sm-4 col-sm-4">
            <span id="text-for-kassa">KASSA</span>
             <ul class="gc-product-grid">
                 <li class="cart-item" *ngFor="let cartIitem of cart">
                     <cart-item [cartItem]=cartIitem (onIncrease)="increaseItem($event)" (onDecrease)="decreaseItem($event)"
                     (onRemove)="removeItem($event)"></cart-item>
                </li>
             </ul>

             <div class="col-lg-8 pull-right cart-total">
                 <p class="items in-cart">Antal varor: <span class="amount">{{totalProducts}}</span></p>
                 <p class="items total">Total: <span class="amount">{{totalPrice}}</span></p>
             </div>

             <div class="clearfix"></div>
             <div class="col-lg-8 swish">
                 <div class="admin swish-overlay inactive">
                     <h1>ADMINLÄGE</h1>
                 </div>
                 <div id="swish-number">Swisha summan til: <span id="number">0704 - 33 33 33</span></div>
                 <div id="buttons">
                     <form name="swish-submit" class="form-inline swish-form">
                         <button type="submit" class="btn btn-default submit">Jag har Swishat</button>
                         <button type="cancel" class="btn btn-default regret">Ångra</button>
                         <div class="clearfix"></div>
                     </form>
                 </div>
             </div>

             <img class="gbg-logo" src="/src/imgs/gbg-stad-ikon.png">
        </div>

    </div>

</div>
