<div class="container store">

    <reciept class="popup receipt" [items]=cart *ngIf="reciept" (onClose)="hideReciept($event)"></reciept>

    <product-edit class="edit-item popup active" [product]=selectedProduct *ngIf="editProduct" (onEditSave)="updateProduct($event)"
    (onMoveToTrash)="moveToTrash($event)"
    (onClose)="closeEdit()">
    </product-edit>

    <div class="spinner inactive"></div>
    <div  class="spinner" *ngIf="loading" ></div>

    <div class="alert popup inactive">
        <div id="top">
            Bekräfta korrigering
        </div>
        <div id="bottom">
            <p>Är du säker på att du vill korrigera köpet?</p>
            <form name="correct">
                <button class="btn btn-default submit">Ja</button>
                <button class="btn btn-default regret">Ångra</button>
            </form>
        </div>
    </div>
    <div class="overlay">
    </div>
    <nav class="navbar navbar-default tm-navbar">
        <button class="btn btn-success navbar-toggle"
            data-toggle="collapse"
            data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            
        <div class="tm-loggo navbar-header">
            <h1>{{title}}</h1>
        </div>

        <div class="navbar-collapse collapse">
            <button (click)="logout()" class="btn-default logout">Logga ut</button>
            <nav>
                <ul class="nav navbar-nav tm-navbar-nav nav-cat">
                    <li *ngFor="let category of navigation" class="nav" >
                        
                        <a (click)="navigate(category.id)" 
                        [ngClass]="{'active': category.isActive}"  href="" >
                            <img src="{{category.imgSrc}}" />
                            <p class="cat-name">{{category.name}}</p>
                        </a>
                    </li>
                    <li class="nav admin" [ngClass]="{'active': user?.user_type === 'ADMIN', 'inactive': user?.user_type != 'ADMIN'}" >
                        <a  (click)="navigate(trashCan.id)" >
                            <img src="/src/icons/soptunna_large.png">
                            <p class="cat-name trash">Trash</p>
                        </a>
                    </li>
                    <li class="nav admin add-category" [ngClass]="{'active': user?.user_type === 'ADMIN', 'inactive': user?.user_type != 'ADMIN'}">
                        <a href="#">
                            <h1>+</h1>
                            <p>Redigera kategorier</p>
                        </a>
                    </li>
                
                </ul>
            </nav>
        </div>
        <!--<div class="new-msg-box"><a [routerLink]="['/msg']" href="">new msg</a></div>
            -->
    </nav>
    <div class="row">

        <div id="products" class="col-sm-8 col-md-7 col-lg-7 products-list">
            <filter-text (onFilterChanged)="filterChaged($event)"></filter-text>
            <div class="grid-system">
                <ul class="gc-product-grid">
                    <li class="admin active add-product">
                        <div class="panel col-md-4">
                            <div class="text">
                                <h1>+</h1>
                                <p>Lägg till produkt</p>
                            </div>
                        </div>
                    </li>
                    <li *ngFor="let product of visibleProducts">
                        <product-item [product]=product [user]=user (onAddToCart)="addToCart($event)"
                        (onEdit)="showEditProduct($event)"></product-item>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>
        </div>

    </div>
    <cart [user]=user (onPurchase)="purchase($event)"></cart>

</div>


