<div class="panel col-lg-4 col-md-3 col-sm-4 col-sm-4 col-xs-7">
    <div class="panel-body">
    <div class="pull-left">
        <ul>
            <li><img src="" class="thumbnail" /></li>
            <li><span>{{product.name}}</span></li>
        </ul>
    </div>
    <div class="pull-right">
        <ul>
            <li><span>{{product.price}}</span></li>
            <li><span>{{product.description}}</span></li>
            <li><span>{{product.quantity}}</span></li>
        </ul>
    </div>
    </div>
</div>